label Title
input#title(type='text', value='#{script.title}', name='script[title]')

label Command name
input#command(type='text', value='#{script.command}', name='script[command]', title="What your script will be named")

label URL(raw)
input#url(type='text', value='#{script.url}', name='script[url]')

label description
textarea#description(name='script[description]')= script.description

label exec
textarea#exec(name='script[exec]')= script.exec

label tags
input#tags(type='text', value='#{script.tags? script.tags.join(",") : "" }', name='script[tags]')

label author
input#author(type='text', value='#{script.author? script.author : ""}', name='script[author]')

label html url
input#html_url(type='text', value='#{script.html_url? script.html_url : ""}', name='script[html_url]')