extends ../base

block title
  title Scripts

block content
  != messages()
  h1 Scripts

  form.form-search
    input#keyword(type='text')
    input#search_button(type='button', value='Search')

  table.table.table-bordered
    tr
      th id
      th title
      th description
      th url
      th exec script
    each script in scripts
      tr
        td
         a(href='/script/#{script._id}')= script._id
        td= script.title
        td= script.description
        td= script.url
        td= script.exec

  script(type='text/javascript')
    $(document).ready(function(){
        $("#search_button").click(function(){
            window.location.pathname = "/scripts/search/" + $("#keyword").val();
        });
    });
